aniso8601==6.0.0
APScheduler==3.6.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
click-shell==1.0
Flask==1.0.2
Flask-APScheduler==1.11.0
flask-restplus==0.12.1
Flask-SQLAlchemy==2.3.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
pyrsistent==0.14.11
pysqlite3==0.2.1
python-dateutil==2.8.0
pytest==4.4.0
pytz==2019.1
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.2
tzlocal==1.5.1
urllib3==1.25
Werkzeug==0.15.2
